body {
	background:url(../images/bg.gif);
	text-align:center;
	font: 12px georgia, sans-serif;
	margin: 0; 
	padding: 0;
	}
	
#container {
	text-align:left;
	margin-right:auto;
	margin-left:auto;
	width:960;
	}
#header{
	float:left;
	width:100%;
	}

#header #banner{
	float:left;
	width:100%;
	height:200px;
	background:url(../images/banner.jpg);
	}

#header #menu{
	height:28px;
	float:left;
	width:960px;
	background-color:#999999;
	}
	
#main{
	float:left;
	width:100%;
	}
#footer{
	float:left;
	width:100%;
	height:120px;
	background-color:#FFFFFF;
	}
#menu ul {
	list-style:none;
	margin:0px;
	padding:0px;	
}
#menu li {
	height:28px;
	float:left;
	width:80px;
	text-align:center;
	height:28px;
	line-height:28px;
	}
	
	
#menu a{
color:#FFFFFF;	
	}
#menu .tiao{
	width:1px;
	height:12px;
	float:left;	
	margin-top:8px;
	overflow:hidden;
	background-color:#000000;
	}
	
	
.niv {
    float:left;
	clear:both;	
	height: 10px;
	width: 100%;
	overflow:hidden;
	}

#main .leftbox{
	float:left;
	width:200px;
	}
.leftbox .left1{
	float:left;
	width:200px;
	height:200px;
	margin-bottom:10px;
	border:1px #FF66FF solid;
	}
.leftbox .left2{
	float:left;
	width:200px;
	height:300px;
	margin-bottom:10px;
	border:1px #FF66FF solid;
	}
.leftbox .left3{
	float:left;
	width:200px;
	height:250px;
	margin-bottom:10px;
	border:1px #FF66FF solid;
	}
.leftbox .left4{
	float:left;
	width:200px;
	height:300px;
	margin-bottom:10px;
	border:1px #FF66FF solid;
	}
.rightbox .right1{
	float:left;
	width:750px;
	height:700px;
	margin-bottom:10px;
	border:1px #FF66FF solid;
	}
.rightbox .right2{
	float:left;
	width:750px;
	height:500px;
	margin-bottom:10px;
	border:1px #FF66FF solid;
	}
.rightbox .right3{
	float:left;
	width:750px;
	height:300px;
	margin-bottom:10px;
	border:1px #FF66FF solid;
	}
.rightbox .right4{
	float:left;
	width:750px;
	height:470px;
	border:1px #FF66FF solid;
	}
#main .rightbox{
	float:right;
	width:750px;
	}
.tit{
	float:left;
	width:100%;
	height:29px;
	background:url(../images/title1.png) right;
	}
.tit h3{
	margin:0px;
	padding:0px;
	width:100px;
	line-height:31px;
	font-size:14px;
	padding-left:10px;
	background-color:#FFFFFF;
	}

.content{
	background-color:#FFFFFF;
	float:left;	
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	}
.leftbox .content ul{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
	margin-left:20px;
	}
.leftbox .content li{
	width:100%;
	line-height:20px;
	text-align:left;
	color: #7E54AC;
	padding-left:20px;
	border-bottom:1px dashed #333333;
	background:url(../images/ico.png) no-repeat left;	
	text-decoration:none;
	}
a {
text-decoration:none;
}
a:hover {
	color: #FF0000;
}
.rightbox .content ul{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
	margin-left:20px;
	}
.rightbox .content li{
    float:left;
	width:150px;
	height:240px;
	padding:10px;
	border:1px solid #FFFFFF;
	text-decoration:none;
	}