   html {
	background: url(../images/bg.jpg) repeat;
}

/*		蓝灰背景*/
body {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	color: #fff;
	background: url(../images/page_bg1.jpg) repeat-x  center top;
	width: 100%;
	display: table;
}

a:link, a:visited {
	color: #000;
	text-decoration: none;
} 
a:active, a:hover {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	background: url(../images/h1.jpg) no-repeat;
	background-position: left;
	height: 48px;
	padding-left: 38px;
	padding-top: 20px;
	text-align: center;
	
}

/*		右横分割*/
h2 {
	margin-top: 20px;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	height: 26px;
	background: url(../images/right_h2.jpg) repeat-x;
}

#templatemo_container {
	width: 1000px;
	margin: auto;
}
#templatemo_topsection {
	float: left;
	background:url( ../images/topbanner.jpg) top left no-repeat;
	width: 1000px;
	height: 108px;

}
#templatemo_topsection_title {
	float: left;
	width: auto;
	font-size: 28px;
	margin-top: 20px;
	height: 34px;
	padding-top: 10px;
	padding-left: 55px;
	font-family: "华文新魏";
	background-image: none;
	background-repeat: no-repeat;
}
#templatemo_topsection_title img {
	float: left;
}
.templatemo_topmenu{
	float: right;
	margin-top: 70px;
}

.templatemo_topmenu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.templatemo_topmenu li{
	display: inline;
}

/*		其他导航条小背景*/
.templatemo_topmenu li a{
	float: left;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #fff;
	width: 80px;
	height: 24px;
	margin-left: 10px;
	padding-top: 3px;
	background: url(../images/top_button.png) no-repeat;
}

/*		目前导航条小背景*/

.templatemo_topmenu li a:hover, .templatemo_topmenu li .current{
	color: #fff;
	background: url(../images/top_current.png) no-repeat;

}

/*		左半图*/
#templatemo_left_column {
	float: left;
	width: 263px;
}
#templatemo_left_top {
	float: left;
	width: 263px;
	height: 219px;
	background: url(../images/left2.JPG) no-repeat;
}
.templatemo_leftmenu {
	float: right;
	width: 240px;
	margin-top: 0px;
}
.templatemo_leftmenu ul {
	list-style-type: none;
	padding-left: 70px;
	margin:10px;
}
.templatemo_leftmenu li a {
	display: block;
	height: 20px;
	font-size: 11px;
	color: #3c4826;
	background: url(../images/templatemo_menu_button.gif);
}
.templatemo_leftmenu li a:hover, .templatemo_leftmenu li .current {
	color: #000;
}


#templatemo_right_column {
	float: left;
	width: 735px;
	background: url(../images/templatemo_right_bg.png) repeat-y;

}

/*		右半图*/
#templatemo_right_top {
	float: left;
	margin: auto;
	width: 735px;
	height: 107px;
	background: url(../images/right2.JPG) no-repeat;
}
#templatemo_right_mid {
	float: left;
	width: 609px;
	margin: 0px auto;
	background: #fff;
	color: #666666;
	padding: 0px 45px 0px 45px;
	text-align: left;
}
#templatemo_right_mid img {
	float: right;
	padding-left: 10px;
}
#templatemo_right_mid strong {
	float: right;
	padding-right: 60px;
	background: url(../images/templatemo_star.jpg) no-repeat;
	background-position: right;
	color: #eec400;
}
#templatemo_right_bot {
	float: left;
	margin-top: 0px;
	padding-top: 50px;
	width: 700px;
	height: 25px;
	color: #333333;
	text-align: center;
	background: url(../images/right_footer.jpg) no-repeat;
}

/*		左导航*/
.button {
	font-family: Tahoma, "Arial Black";
	float: left;
	width: 165px;
	padding: 10px 0px 0px 50px;
	margin: 20px 0px 0px 50px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	height: 30px;
	background: url(../images/h3.png) no-repeat;
}
.check {
	float: left;
	width: 263px;
	text-align: right;
}
#templatemo_container #templatemo_right_column #templatemo_right_mid table {
	text-align: left;
}
