<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver">
		</property>
		<property name="url"
			value="jdbc:sqlserver://localhost:1433;databasename=GYH">
		</property>
		<property name="username" value="sa"></property>
		<property name="password" value="ZBF917ZGB919cs"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
			</list>
		</property>
	</bean>
	<!-- <bean id="poseService" class="org.shu.construct.service.PoseService"> 
		<property name="poseDao"> <ref bean="poseDao" /> </property> </bean> <bean 
		id="poseDao" class="org.shu.construct.dao.PoseDao"> <property name="sessionFactory" 
		ref="sessionFactory"></property> </bean> -->
</beans>
