<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver">
		</property>
		<property name="url"
			value="jdbc:sqlserver://localhost:1433;databasename=GP">
		</property>
		<property name="username" value="aa"></property>
		<property name="password" value="ZBF917ZGB919cs"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>org/shu/model/FunctionInfo.hbm.xml</value>
				<value>org/shu/model/UserInfo.hbm.xml</value>
				<value>org/shu/model/RoleInfo.hbm.xml</value>
				<value>org/shu/model/RoleRefUser.hbm.xml</value>
				<value>org/shu/model/RoleRefFunction.hbm.xml</value>
				<value>org/shu/model/DepartmentInfo.hbm.xml</value>
				<value>org/shu/model/ProInfo.hbm.xml</value>
				<value>org/shu/model/ProducePlan.hbm.xml</value>
				<value>org/shu/model/SteelQual.hbm.xml</value>
				<value>org/shu/model/SteelRaw.hbm.xml</value>
				<value>org/shu/model/ConcQual.hbm.xml</value>
				<value>org/shu/model/ConcMixRatio.hbm.xml</value>
				<value>org/shu/model/FourTableSamePart.hbm.xml</value>
				<value>org/shu/model/FourTableMapping.hbm.xml</value>
				<value>org/shu/model/FourTableCheckItems.hbm.xml</value>
				<value>org/shu/model/ConcPour.hbm.xml</value>
				<value>org/shu/model/GpSteamCuring.hbm.xml</value>
				<value>org/shu/model/GpCrane.hbm.xml</value>
				<value>org/shu/model/ConcResistLeak.hbm.xml</value>
				<value>org/shu/model/GpWaterCuring.hbm.xml</value>
				<value>org/shu/model/ConcResistComp.hbm.xml</value>
				<value>org/shu/model/SteelSkelHalf.hbm.xml</value>
				<value>org/shu/model/GpAssemble.hbm.xml</value>
				<value>org/shu/model/GpCheckLeak.hbm.xml</value>
				<value>org/shu/model/RfidRefGp.hbm.xml</value>
				<value>org/shu/model/PreEmbed.hbm.xml</value>
				<value>org/shu/model/ReportPdfMapping.hbm.xml</value>
				<value>org/shu/model/GpStorage.hbm.xml</value>
				<value>org/shu/model/GpReceive.hbm.xml</value>
				<value>org/shu/model/GpQuality.hbm.xml</value>
				<value>org/shu/model/WaterProof.hbm.xml</value>
				<value>org/shu/model/BoltQuality.hbm.xml</value>
				<value>org/shu/model/ShieldProcess.hbm.xml</value>
				<value>org/shu/model/SynchronousGrout.hbm.xml</value>
				<value>org/shu/model/ShieldPose.hbm.xml</value>
				<value>org/shu/model/LogInfo.hbm.xml</value>
				<value>org/shu/model/MoldQual.hbm.xml</value>
				<value>org/shu/model/PartOfConcPour.hbm.xml</value>
				<value>org/shu/model/GpQualCert.hbm.xml</value>
				<value>org/shu/model/ConcRcvd.hbm.xml</value>
				<value>org/shu/model/GpMendInfo.hbm.xml</value>
				<value>org/shu/model/RfidCombine.hbm.xml</value>
				<value>org/shu/model/PartOfConcRcvd.hbm.xml</value>
				<value>org/shu/model/InCheck.hbm.xml</value>
				<value>org/shu/model/GpTransport.hbm.xml</value>
				<value>org/shu/model/Manufacturer.hbm.xml</value>
				<value>org/shu/model/GpSteel.hbm.xml</value>
				<value>org/shu/model/GpSoilproperty.hbm.xml</value>
				<value>org/shu/model/GpAlongsheshi.hbm.xml</value>
				<value>org/shu/model/GpSgds.hbm.xml</value>
				<value>org/shu/model/GpMeasurepoint.hbm.xml</value>
				<value>org/shu/model/GpDesignaxis.hbm.xml</value>
				<value>org/shu/model/GpGroundsettling.hbm.xml</value>
				<value>org/shu/model/GpAlonggeology.hbm.xml</value>
				<value>org/shu/model/GpCheckindex.hbm.xml</value>
				<value>org/shu/model/Pzqcheck.hbm.xml</value>
				<value>org/shu/model/Segmentrepair.hbm.xml</value>
				<value>org/shu/model/DownWell.hbm.xml</value>
				<value>org/shu/model/GpTotalInfo.hbm.xml</value></list>
		</property>
	</bean>
	<bean id="authorityDao" class="org.shu.construct.dao.AuthorityDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="authorityService" class="org.shu.construct.service.AuthorityService">
		<property name="authorityDao">
			<ref bean="authorityDao" />
		</property>
	</bean>
	<bean id="roleDao" class="org.shu.construct.dao.RoleDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="roleService" class="org.shu.construct.service.RoleService">
		<property name="roleDao">
			<ref bean="roleDao" />
		</property>
	</bean>
	<bean id="menuDao" class="org.shu.construct.dao.MenuDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="menuService" class="org.shu.construct.service.MenuService">
		<property name="menuDao">
			<ref bean="menuDao" />
		</property>
	</bean>
	<bean id="downWellDao" class="org.shu.construct.dao.DownWellDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="downWellService" class="org.shu.construct.service.DownWellService">
		<property name="downWellDao">
			<ref bean="downWellDao" />
		</property>
	</bean>
	<bean id="pzqDao" class="org.shu.construct.dao.PzqDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="pzqService" class="org.shu.construct.service.PzqService">
		<property name="pzqDao">
			<ref bean="pzqDao" />
		</property>
	</bean>
	<bean id="totalDao" class="org.shu.construct.dao.TotalDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="totalService" class="org.shu.construct.service.TotalService">
		<property name="totalDao">
			<ref bean="totalDao" />
		</property>
	</bean>
	<bean id="poseDao" class="org.shu.construct.dao.PoseDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="poseService" class="org.shu.construct.service.PoseService">
		<property name="poseDao">
			<ref bean="poseDao" />
		</property>
	</bean>
		<bean id="xunJianDao" class="org.shu.construct.dao.XunJianDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="xunJianService" class="org.shu.construct.service.XunJianService">
		<property name="xunJianDao">
			<ref bean="xunJianDao" />
		</property>
	</bean>
	<bean id="monitorDao" class="org.shu.construct.dao.MonitorDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="monitorService" class="org.shu.construct.service.MonitorService">
		<property name="monitorDao">
			<ref bean="monitorDao" />
		</property>
	</bean>
	<bean id="advanceDao" class="org.shu.construct.dao.AdvanceDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="advanceService" class="org.shu.construct.service.AdvanceService">
		<property name="advanceDao">
			<ref bean="advanceDao" />
		</property>
	</bean>
	<bean id="soilDao" class="org.shu.construct.dao.SoilDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="soilService" class="org.shu.construct.service.SoilService">
		<property name="soilDao">
			<ref bean="soilDao" />
		</property>
	</bean>

	<!--======================================= 测试=================================== -->
	<bean id="testDAO" class="org.shu.dao.imp.TestDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="testService" class="org.shu.service.imp.TestService">
		<property name="testDAO">
			<ref bean="testDAO" />
		</property>
	</bean>

	<bean id="proInfoDao" class="org.shu.dao.imp.ProInfoDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="proInfoService" class="org.shu.service.imp.ProInfoService">
		<property name="proInfoDao">
			<ref bean="proInfoDao" />
		</property>
	</bean>

	<bean id="steelRemainDao" class="org.shu.dao.imp.SteelRemainDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="steelRemainService" class="org.shu.service.imp.SteelRemainService">
		<property name="steelRemainDao">
			<ref bean="steelRemainDao" />
		</property>
		<property name="steelQualService">
			<ref bean="steelQualService" />
		</property>
	</bean>

	<bean id="steelQualDao" class="org.shu.dao.imp.SteelQualDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="manufacturerDao" class="org.shu.dao.imp.ManufacturerDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="manufacturerService" class="org.shu.service.imp.ManufacturerService">
		<property name="manufacturerDao">
			<ref bean="manufacturerDao" />
		</property>
	</bean>

	<bean id="steelQualService" class="org.shu.service.imp.SteelQualService">
		<property name="steelQualDao">
			<ref bean="steelQualDao" />
		</property>
	</bean>
	<bean id="steelRawDao" class="org.shu.dao.imp.SteelRawDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="steelRawService" class="org.shu.service.imp.SteelRawService">
		<property name="steelRawDao">
			<ref bean="steelRawDao" />
		</property>
	</bean>
	<bean id="concQualDao" class="org.shu.dao.imp.ConcQualDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="concQualService" class="org.shu.service.imp.ConcQualService">
		<property name="concQualDao">
			<ref bean="concQualDao" />
		</property>
	</bean>
	<bean id="concMixRatioDao" class="org.shu.dao.imp.ConcMixRatioDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="concMixRatioService" class="org.shu.service.imp.ConcMixRatioService">
		<property name="concMixRatioDao">
			<ref bean="concMixRatioDao" />
		</property>
	</bean>
	<bean id="preEmbedDao" class="org.shu.dao.imp.PreEmbedDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="preEmbedService" class="org.shu.service.imp.PreEmbedService">
		<property name="preEmbedDao">
			<ref bean="preEmbedDao" />
		</property>
	</bean>

	<bean id="rfidRefGpDao" class="org.shu.dao.imp.RfidRefGpDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="rfidRefGpService" class="org.shu.service.imp.RfidRefGpService">
		<property name="rfidRefGpDao">
			<ref bean="rfidRefGpDao" />
		</property>
	</bean>


	<bean id="concResistCompDao" class="org.shu.dao.imp.ConcResistCompDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="concResistCompService" class="org.shu.service.imp.ConcResistCompService">
		<property name="concResistCompDao">
			<ref bean="concResistCompDao" />
		</property>
	</bean>
	<bean id="concResistLeakDao" class="org.shu.dao.imp.ConcResistLeakDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="concResistLeakService" class="org.shu.service.imp.ConcResistLeakService">
		<property name="concResistLeakDao">
			<ref bean="concResistLeakDao" />
		</property>
	</bean>
	<bean id="gpCraneDao" class="org.shu.dao.imp.GpCraneDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="gpCraneService" class="org.shu.service.imp.GpCraneService">
		<property name="gpCraneDao">
			<ref bean="gpCraneDao" />
		</property>
	</bean>
	<bean id="gpTotalInfoDao" class="org.shu.dao.imp.GpTotalInfoDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="gpTotalInfoService" class="org.shu.service.imp.GpTotalInfoService">
		<property name="gpTotalInfoDao">
			<ref bean="gpTotalInfoDao" />
		</property>
		<property name="steelQualDAO">
			<ref bean="steelQualDAO" />
		</property>
		<property name="steelRawDAO">
			<ref bean="steelRawDAO" />
		</property>
		<property name="concResistCompDAO">
			<ref bean="concResistCompDAO" />
		</property>
		<property name="concQualDAO">
			<ref bean="concQualDAO" />
		</property>
		<property name="concMixRatioDAO">
			<ref bean="concMixRatioDAO" />
		</property>
		<property name="preEmbedDao">
			<ref bean="preEmbedDao" />
		</property>
	</bean>

	<bean id="roleInfoDao" class="org.shu.dao.imp.RoleInfoDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="roleInfoService" class="org.shu.service.imp.RoleInfoService">
		<property name="roleInfoDao">
			<ref bean="roleInfoDao" />
		</property>
	</bean>
	<bean id="userInfoDao" class="org.shu.dao.imp.UserInfoDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="functionInfoDao" class="org.shu.dao.imp.FunctionInfoDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="roleRefFunctionDao" class="org.shu.dao.imp.RoleRefFunctionDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="roleRefUserDao" class="org.shu.dao.imp.RoleRefUserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="systemService" class="org.shu.service.imp.SystemService">
		<property name="userInfoDao" ref="userInfoDao" />
		<property name="functionInfoDao" ref="functionInfoDao" />
		<property name="roleInfoDao" ref="roleInfoDao" />
		<property name="roleRefFunctionDao" ref="roleRefFunctionDao" />
		<property name="roleRefUserDao" ref="roleRefUserDao" />
	</bean>
	<bean id="userDAO" class="org.shu.admin.dao.UserDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="deptDAO" class="org.shu.admin.dao.DepartmentDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="planDAO" class="org.shu.plan.dao.PlanDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="authorityDAO" class="org.shu.admin.dao.AuthorityDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="adminService" class="org.shu.common.service.AdminService">
		<property name="userDAO">
			<ref bean="userDAO" />
		</property>
		<property name="deptDAO">
			<ref bean="deptDAO" />
		</property>
		<property name="authorityDAO">
			<ref bean="authorityDAO" />
		</property>
	</bean>

	<bean id="planService" class="org.shu.common.service.PlanService">
		<property name="planDAO">
			<ref bean="planDAO" />
		</property>
	</bean>






	<bean id="steelRawDAO" class="org.shu.plan.dao.SteelRawDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="steelQualDAO" class="org.shu.plan.dao.SteelQualDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="concQualDAO" class="org.shu.plan.dao.ConcQualDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="concMixRatioDAO" class="org.shu.plan.dao.ConcMixRatioDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="materialService" class="org.shu.common.service.MaterialService">
		<property name="steelRawDAO">
			<ref bean="steelRawDAO" />
		</property>
		<property name="steelQualDAO">
			<ref bean="steelQualDAO" />
		</property>
		<property name="concQualDAO">
			<ref bean="concQualDAO" />
		</property>
		<property name="concMixRatioDAO">
			<ref bean="concMixRatioDAO" />
		</property>
		<property name="preEmbedDao">
			<ref bean="preEmbedDao" />
		</property>
	</bean>

	<bean id="fourSameDAO" class="org.shu.plan.dao.FourSameDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="concPourDAO" class="org.shu.plan.dao.ConcPourDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="gpSteamDAO" class="org.shu.plan.dao.GpSteamCuringDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="gpCraneDAO" class="org.shu.plan.dao.GpCraneDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="gpWaterCuringDAO" class="org.shu.plan.dao.GpWaterCuringDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="reportPdfMappingDAO" class="org.shu.plan.dao.ReportPdfMappingDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="productService" class="org.shu.common.service.ProductService">
		<property name="fourSameDAO">
			<ref bean="fourSameDAO" />
		</property>
		<property name="concPourDAO">
			<ref bean="concPourDAO" />
		</property>
		<property name="gpSteamDAO">
			<ref bean="gpSteamDAO" />
		</property>
		<property name="gpCraneDAO">
			<ref bean="gpCraneDAO" />
		</property>
		<property name="gpWaterCuringDAO">
			<ref bean="gpWaterCuringDAO" />
		</property>
		<property name="reportPdfMappingDAO">
			<ref bean="reportPdfMappingDAO" />
		</property>
	</bean>



	<bean id="concResistCompDAO" class="org.shu.plan.dao.ConcResistCompDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="concResistLeakDAO" class="org.shu.plan.dao.ConcResistLeakDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="steelSkelHalfDAO" class="org.shu.plan.dao.SteelSkelHalfDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="gpAssembleDAO" class="org.shu.plan.dao.GpAssembleDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="gpCheckLeakDAO" class="org.shu.plan.dao.GpCheckLeakDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="checkService" class="org.shu.common.service.CheckService">
		<property name="concResistCompDAO">
			<ref bean="concResistCompDAO" />
		</property>
		<property name="concResistLeakDAO">
			<ref bean="concResistLeakDAO" />
		</property>
		<property name="steelSkelHalfDAO">
			<ref bean="steelSkelHalfDAO" />
		</property>
		<property name="gpAssembleDAO">
			<ref bean="gpAssembleDAO" />
		</property>
		<property name="gpCheckLeakDAO">
			<ref bean="gpCheckLeakDAO" />
		</property>
		<property name="fourSameDAO">
			<ref bean="fourSameDAO" />
		</property>
		<property name="reportPdfMappingDAO">
			<ref bean="reportPdfMappingDAO" />
		</property>
		<property name="gpStorageDAO">
			<ref bean="gpStorageDAO" />
		</property>
		<property name="gpReceiveDAO">
			<ref bean="gpReceiveDAO" />
		</property>
		<property name="gpQualityDAO">
			<ref bean="gpQualityDAO" />
		</property>
	</bean>

	<bean id="gpStorageDAO" class="org.shu.plan.dao.GpStorageDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="gpReceiveDAO" class="org.shu.plan.dao.GpReceiveDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="gpQualityDAO" class="org.shu.plan.dao.GpQualityDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<bean id="transportService" class="org.shu.common.service.TransportService">
		<property name="gpStorageDAO">
			<ref bean="gpStorageDAO" />
		</property>
		<property name="gpReceiveDAO">
			<ref bean="gpReceiveDAO" />
		</property>
		<property name="gpQualityDAO">
			<ref bean="gpQualityDAO" />
		</property>
	</bean>




	<bean id="boldDAO" class="org.shu.construct.dao.BoltQualityDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="poseDAO" class="org.shu.construct.dao.PoseDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="shieldDAO" class="org.shu.construct.dao.ShieldDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="synService" class="org.shu.construct.service.SynService">
		<property name="synDao">
			<ref bean="synDao" />
		</property>
	</bean>
	<bean id="synDao" class="org.shu.construct.dao.SynDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="waterProofDAO" class="org.shu.construct.dao.WaterProofDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="constructService" class="org.shu.construct.service.ConstructService">
		<property name="boldDAO">
			<ref bean="boldDAO" />
		</property>
		<property name="poseDAO">
			<ref bean="poseDAO" />
		</property>
		<property name="shieldDAO">
			<ref bean="shieldDAO" />
		</property>
		<property name="synDao">
			<ref bean="synDao" />
		</property>
		<property name="waterProofDAO">
			<ref bean="waterProofDAO" />
		</property>
	</bean>



	<bean id="waterProofDao" class="org.shu.construct.dao.WaterProofDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="waterProofService" class="org.shu.construct.service.WaterProofService">
		<property name="waterProofDao">
			<ref bean="waterProofDao" />
		</property>
	</bean>
	<bean id="boltQualityDao" class="org.shu.construct.dao.BoltQualityDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="boltQualityService" class="org.shu.construct.service.BoltQualityService">
		<property name="boltQualityDao">
			<ref bean="boltQualityDao" />
		</property>
	</bean>
	<!--======================================= 测试结束=================================== -->

</beans>
